$primary-color: #B9121B;
$lighter-color: lighten(#B9121B, 25%);
$darker-color: darken(#B9121B, 20%);
$light-grey: #ccc;
$primary: #428bca;
$success: #5cb85c;
$warning: #f0ad4e;

body {
  background: white;
  color: $lighter-color;
}
  
a {
  color: $darker-color;  
}

a:hover {
  color: $primary-color;  
}
  
.order-item {
  a:hover {
    text-decoration: none;
    color: $darker-color;
  }
  font-size: 3.5em;
  border: 3px $darker-color solid;
  padding: 10px;
  background: $lighter-color;
  margin-bottom: 5px;
}

.order-item.state2 {
  background: $success;
}

.order-item:hover {
  background: white;  
}
    
.item, .receipt-item {
  font-size: 2em;
  color: white;
  border: 2px $darker-color solid;
  padding: 5px;
  background: $lighter-color;
  margin-bottom: 3px;
  .btn {
    float: right;  
  }
}
  
.navbar-brand {
  color: white;
  size: 3em;
}
  
.navbar {
  padding: 10px;
  padding-right: 25px;
  border-radius: 0;
  background: $lighter-color;
  border-bottom: 2px $light-grey solid;
  .accounts-dialog {
    width: 275px;  
    color: $darker-color;
    .login-close-text {
      color: $darker-color;
    }
    .login-button {
      background: $primary-color!important;
      border-color: $darker-color;
    }
    .additional-link-container {
      color: $darker-color;  
    }
  }
}
  
.bold {
  font-weight: bold;  
}
  
.btn {
  background: $primary-color!important;
  border-color: $darker-color!important;
  color: white;
}
   
.btn:hover {
  background: $lighter-color;  
}
  
.login-buttons-dropdown-align-right {
  float: right;
}

span.input-group-addon {
  border-top-left-radius: 0px;
}
  
input.form-control {
  border-top-right-radius: 0px;  
}
    
.messages {
  border: 1px solid $light-grey;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: none;
  padding: 10px;
  height: 200px;
  overflow-y: scroll;
}